<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- The frontend is a child Application. If Default Web Site has an
         ASP.NET Core catch-all handler, do not route static JS/CSS through it. -->
    <handlers>
      <remove name="aspNetCore" />
    </handlers>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.csr.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- This is an IIS child application under Default Web Site. Do not
             inherit rewrite rules from the parent site. -->
        <clear />
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.csr.html" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
